<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NReco.PhantomJS" version="1.0.4" targetFramework="net461" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS" version="1.0.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS.CrossPlatform" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net461" />
</packages>